@use "../variable/break";

global-footer {
	display: block;
	width: min(calc(100% - 2rem), var(--size-shell));
	margin-inline: auto;
	padding: 2.5rem 0;
	border-top: 1px solid var(--pal-line);
	color: var(--pal-muted);
	font-size: 1rem;

	p {
		margin: .5rem 0 0;
	}

	nav {
		display: flex;
		gap: 1rem;
		margin-top: .5rem;
	}

	@media(min-width: break.$desktop) {
		display: flex;
		gap: 2rem;
		padding-inline: 1rem;
		align-items: center;

		p, nav {
			margin: 0;
		}

		p:last-child {
			margin-left: auto;
		}
	}
}
