@use "../variable/break";

global-footer {
	display: block;
	width: min(calc(100% - 2rem), var(--size-shell));
	margin-inline: auto;
	padding: 2.5rem 0;
	border-top: 1px solid var(--pal-line);
	color: var(--pal-muted);
	font-size: .78rem;

	p {
		margin: .5rem 0 0;
	}

	@media(min-width: break.$desktop) {
		display: flex;
		width: min(calc(100% - 15rem), var(--size-shell));
		gap: 2rem;
		margin-left: 15rem;
		margin-right: 0;
		padding-inline: 1rem;
		flex: 0 0 min(calc(100% - 15rem), var(--size-shell));
		align-items: center;

		p {
			margin: 0;

			&:last-child {
				margin-left: auto;
			}
		}
	}
}
